/*css document*/

div.container{

	margin-top: 5px;
	max-height: 5px;
}

body {
  background-image: url('prediction.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}


/* Add your CSS styling rules to your stylesheet (e.g., prediction.css) or within a <style> tag in your HTML */

#image-container, #predictions-container, #register-create-password {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#xray-image {
    max-width: 100%;
    max-height: 400px;
}

#class-probabilities p {
    margin: 5px 0;
}


h1{
  text-align: center;
}


