<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />

</head>
<body>

	<div class="container pt-3 " id="container-1"  align="center" bg-dark text-white>
		<div class="row justify-content-center " >
			<div class="card w-50 ">
				<div class="card-header bg-dark text-white">
					<h2>Register</h2>
				</div>

				<div class="card-body opacity 0.5">
					<form method="post" action="register.php">
						<div class="form-group">
							<label for="fname">First Name</label>
							<input type="text"  name="fname" id="fname" class="form-control" required />
						</div>

						<div class="form-group">
							<label for="lname">Last Name</label>
							<input type="text" name="lname" id="lname" class="form-control" required>
						</div>

						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" class="form-control" required>
						</div>

						<div class="form-group">
							<label for="contact">Contact No</label>
							<input type="text" name="contact" id="contact" class="form-control" required>
						</div>

						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" class="form-control" required />
						</div>

						<div class="form-group">
							<label for="conf_password">Confirm Password</label>
							<input type="cpassword" name="cpassword" id="cpassword" class="form-control" required />
							<span id="password_match_message"></span><br>
						</div>

						<div class="form-group">
							<input type="submit" name="" value="Submit" class="btn btn-primary bg-dark text-white border none" />
						</div>

					</form>
				</div>

				<div class="card-footer" align="center">
					<a href="/">Log In</a> </br>
					<small> &copy; Chethani Charmi Jayanga </small>
				</div>


			</div>
		</div>
	</div>
	<script>
		const newPassword = document.getElementById("password");
		const confirmPassword = document.getElementById("cpassword");
		const message = document.getElementById.("password_match_message");

		newPassword.addEventListener("input",()-> {
			if (newPassword.value !==confirmPassword.value){
				message.textContent = "Passwords do not match!";
			} else{
				message.textContent="Password matched.";
			}
		});					
	</script>
</body>
</html>